{% extends 'base.html.twig' %}

{% block title %}Accueil My Musical Trainer{% endblock %}

{% block body %}


<!-- Video Bandeau -->
<section id="top">

    

    <div class="bandeau-accueil">
        
        <div class="bandeau-accueil-background"> <img src="{{asset('assets/ressources/photo/Bandeau.jpg')}}" alt="photo cover" class="img-bandeau d-sm-none"></div>
        <div class="bandeau-acceuil-overlay"></div>
        
        <!-- <div class="img-background d-block d-sm-none">
            <img src="assets/photo/soundtrap-BU816BGrP0U-unsplash_copie.png" alt="">
        </div> -->
    
        <div class="row ">
            <div class="col-11 offset-1 d-flex flex-column mt-2 mt-md-3 justify-content-center punch-line-1">
                <span class="main-punch-line mb-2">mettons-y <br> du <br> rythme !</span><br>
                <div class="txt-top-container d-flex flex-column">
                    <span class="author"> <span class="span-MY">MY </span>MUSICAL <span class="span-TRAINER">TRAINER</span></span>
                    <span class="text-white">l’entraînement et l’accompagnement par visio du musicien<br> et du porteur de projet musical.
                    </span>
                </div>
                <br>
                <div>
                    <a href="#entrainement" class="btn btn-outline-danger mt-3 mr-4 text-white text-uppercase btn-lg">Les services</a>
                    <a href="#contact" class="btn btn-danger mt-3 text-uppercase btn-lg">Réserver</a>
                </div>
            </div>
        </div>
    
    </div>

    

</section>

<!-- Section Quote -->
<div class="container-fluid">
    <div class="row  ">
        <div class="col-12 p-0">

            <div class="quote-1 ">
                <p class="text-uppercase" >« Parce que la persévérance paie, nous te maintenons motivés et orientons tes actions vers des résultats.
                    »</p>
            </div>

        </div>
    </div>
</div>
<!-- Section A Propos -->
<section id="aPropos">
<div class="container-fluid">
    <div class="row  ">
        <div class="col-md-4 d-md-block d-none p-0 img-deco-1 d-md-flex align-items-center ">
            <img src="{{asset('assets/ressources/photo/luis-gherasim-aLPY2rRTYQI-unsplash.jpg')}}" alt="photo de studio d'enregistrement">
        </div>
        <div class="col-md-8 d-flex justify-content-center  a-propos">
            <div class="conteneur-text-a-propos mt-2 mt-lg-5 text-justify">
                <span class="propos-title pt-5 text-center text-md-left">Notre Vision</span> <br>
                <!-- <span class="propos-name ">Dimitry Therese</span> -->
                <div class="d-md-none d-block p-0 img-deco-1-bis mb-5">
                    <img src="{{asset('assets/ressources/photo/luis-gherasim-aLPY2rRTYQI-unsplash.jpg')}}" alt="photo de studio d'enregistrement">
                </div>
                <strong class="h5 punch-line-vision" >" Nous mettons un point d’honneur à maintenir ta motivation et à t’aider à atteindre tes objectifs. "
                </strong>
                <br><br><br>
                
                
                <p>Que tu souhaites vivre de la musique ou qu’il s’agisse d’un hobby, la pratique d’un instrument ou la création d’un projet musical demande de tenir la distance </p> <br>
                <p>Une stratégie de travail et un programme adaptés à ta personnalité constituent quelques-unes des clés pour garder la motivation sur le long terme afin d’atteindre tes objectifs.</p> <br>
                <p>Chez <span class="span-MY">MY </span>MUSICAL <span class="span-TRAINER">TRAINER</span> , nous te proposons des solutions concrètes via une approche qui fait ses preuves depuis plus de 10 ans.</p><br><br>
            </div>
    
        </div>
    </div>
</div>
</section>

<!-- Votre Entrainement  -->
<section id="entrainement">

        <div class="training ">
            <div class="training-background"></div>
            <!-- <img src="assets/photo/rachel-loughman-EjmcT09e3Jg-unsplash.jpg" alt=""> -->
            <div class="img-overlay"></div>
            <div class="training-container my-5">
    
                <h2 class="text-center text-white training-title">Services</h2>
                <h4 class="text-center text-white mt-4">Ton accompagnement <span class="span-MY">MY</span>  MUSICAL <span class="span-TRAINER">TRAINER</span> </h4>
                <p class="text-white p-4 text-center">Nous t’apportons un entraînement motivant et un accompagnement sur-mesure.</p>

                <div class="row  p-4 services-content mt-5">

                    <div class="col-md-6 text-white div-entrainement d-flex justify-content-center align-items-start">
                        <div class="services-text-content ml-md-5 mb-5">
                            <h2>L’Entraînement</h2>
                            <p class="mt-4">Les séances d’Entraînement se déroulent par visio.</p>
                            <p>Le programme d’entraînement est mis en place sur la base des réponses fournies par: </p>
                            <ul>
                                <li class="ml-3"> notre « Questionnaire de prise de contact »</li>
                                <li class="ml-3"> notre conversation lors de la première séance « Écoute & Échange ».</li> 
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 text-white d-flex justify-content-center align-items-start">
                        <div class="services-text-content ml-md-5">
                            <h2>L’Accompagnement</h2><br>
                            <p>Les séances d’Accompagnement se déroulent par visio. </p>
                            <p>Le but des séances est de t’amener sur la durée à plus de performance et à une meilleure maîtrise de ton potentiel.</p>
                            <p>L’accompagnement se déroule dans une atmosphère conviviale dénuée de jugement.</p>
                        
                        </div>
                    </div>
                </div>

                
                <div class="btn-services d-flex justify-content-center mb-5">

                    <a href="#formule&Tarifs" class="btn btn-danger btn-lg px-4 my-5 text-center">Voir nos formules</a>
                  
                </div>
            </div>
        </div>
 
</section>

<!-- Section Avantages -->

<section id="avantages">

        <div class="avantages d-flex justify-content-center pt-5">

            <div class="avantages-container">

                <div class="avantages-title mt-5 d-flex flex-column align-items-center d-sm-block">
                    <h2 class="training-title">les avantages</h2>
                    <h2>My Musical Trainer </h2>


                </div>
                <div class="avantages-list-container d-flex justify-content-center mt-5">

                    <div class="d-flex list-avantages flex-wrap py-5 justify-content-sm-between justify-content-center">
                        
                            <div class="list-item-container">
                                <div class="list-item-header d-flex justify-content-center align-items-center">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="list-item-content d-flex flex-column align-items-center justify-content-center mt-4">
                                <p class="text-center">Programme personnalisé</p> 
                                <p class="text-center">Challenges pendant et entre chaque séance</p> 
                                </div>
                            </div>
                        
                        
                            <div class="list-item-container">
                                <div class="list-item-header d-flex justify-content-center align-items-center">
                                    <i class="fas fa-chalkboard-teacher"></i>
                                </div>
                                <div class="w-100 list-item-content d-flex flex-column align-items-center justify-content-center mt-4">
                                <p class="text-center">Entraînement et accompagnement</p> 
                                <p class="text-center">Professionnel qualifié</p> 
                                </div>
                            </div>
                        
                        
                            <div class="list-item-container">
                                <div class="list-item-header d-flex justify-content-center align-items-center">
                                    <i class="fas fa-video"></i>
                                </div>
                                <div class="list-item-content d-flex flex-column align-items-center justify-content-center mt-4">
                                <p class="text-center">Séance enregistrable à la demande</p> 
                                <!-- <p>Challenges pendant et entre chaque séance</p>  -->
                                </div>
                            </div>
                        
                        
                            <div class="list-item-container">
                                <div class="list-item-header d-flex justify-content-center align-items-center">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div class="list-item-content d-flex flex-column align-items-center justify-content-center mt-4">
                                <p class="text-center">Validation des résultats obtenus via bilan</p> 
                                <!-- <p>Challenges pendant et entre chaque séance</p>  -->
                                </div>
                            </div>
                    
                        
                            <div class="list-item-container">
                                <div class="list-item-header d-flex justify-content-center align-items-center">
                                    <i class="fas fa-phone-volume"></i>
                                </div>
                                <div class="list-item-content d-flex flex-column align-items-center justify-content-center mt-4">
                                <p class="text-center">1 Interlocuteur dédié</p> 
                                <p class="text-center">24h à 48h de réactivité garantie</p> 
                                </div>
                            </div>
                        
                        
                            <div class="list-item-container">
                                <div class="list-item-header d-flex justify-content-center align-items-center">
                                    <i class="fas fa-edit"></i>
                                </div>
                                <div class="list-item-content d-flex flex-column align-items-center justify-content-center mt-4">
                                <p class="text-center">Possibilitité d'intégrer l’agence de booking</p> 
                                <p class="text-center">My Musical Event</p> 
                                </div>
                            </div>
                    
                    
                            <div class="list-item-container">
                                <div class="list-item-header d-flex justify-content-center align-items-center">
                                    <i class="far fa-credit-card"></i>
                                </div>
                                <div class="list-item-content d-flex flex-column align-items-center justify-content-center mt-4">
                                <p class="text-center">Formule avec ou sans engagement</p> 
                                <p class="text-center">Règlement au choix : annuel, mensuel ou à la séance </p> 
                                </div>
                            </div>
            
                    
                            <div class="list-item-container">
                                <div class="list-item-header d-flex justify-content-center align-items-center">
                                    <i class="far fa-smile"></i>
                                </div>
                                <div class="list-item-content d-flex flex-column align-items-center justify-content-center mt-4">
                                <p class="text-center">atmosphère conviviale dénuée de jugement</p> 
                                <!-- <p>Challenges pendant et entre chaque séance</p>  -->
                                </div>
                            </div>
                    
                        
                    </div>

                </div>


            </div>

        </div>
 
</section>

<!-- Section Formules et Prix -->

<section id="formule&Tarifs">
<div class="container-fluid">

        <div class="row  formules-card">


                <h2 class="training-title mb-5 text-center ">Formules et Tarifs</h2>
                
                <div class="formules-subtitle w-100 d-flex flex-column align-items-center mb-5">
                    <strong class="h2">Choisis la formule adaptée à tes besoins </strong><br>
                    <ul>
                        <li class="">1 séance par semaine</li>
                        <li class="">1 séance tous les 15 jours</li>
                        <li class="">1 séance par mois</li>
                    </ul>
                    <p class="txt-formules-italic">Pour mesurer des progrès rapides, 1 séance par semaine est recommandée.</p>


                </div>

            <div class="container-tarifs">

                <div class="cartes-tarifs">
                    <h4>Entraînement</h4>
                    <span><small>à partir de</small> 49€ <small class="h2">/séance</small> </span>
                    <p class="text-center durée">Durée : 1h15 à 1h30</p>
                    <p>✅ Préparation</p>
                    <p>✅ Respect du tempo</p>
                    <p>✅ Technique</p>
                    <p>✅ Conscience du style / Le vocabulaire approprié</p>
                    <p>✅ Conscience de la forme</p>
                    <p>✅ Expression scénique</p>
                    <p>✅ Conscience des dynamiques</p>
                    

                    <a href="#contact" role="button">Réservez une séance</a>
                </div>
                
                <div class="cartes-tarifs ml-md-5">
                    <h4>Répétition en solo ou en équipe</h4>
                    <span><small>à partir de</small> 49€ <small class="h2">/séance</small> </span>
                    <p class="text-center durée">Durée : 1h15 à 1h30</p>
                    <p>✅ La finalité de la répétition</p>
                    <p>✅ L’avant-répétition</p>
                    <p>✅ L’organisation de la répétition</p>
                    <p>✅ La méthode de travail</p>
                    <p>✅ L’enregistrement de la répétition</p>
                    <p>✅ L’éthique</p>
                    <p>✅ Le débriefing</p>
                    <p>✅ Le travail à faire à la maison</p>
        
                    <a href="#contact" role="button">Réservez une séance</a>
        
                </div>

                <div class="cartes-tarifs ml-md-5">
                    <h4>Se professionnaliser</h4>
                    <span><small>à partir de</small> 129€ <small class="h2">/séance</small> </span>
                    <p class="text-center durée">Durée : 1h15 à 1h30</p>
                    <p>✅ Répertoire et genre musicaux</p>
                    <p>✅ Le matériel et la logistique</p>
                    <p>✅ S’organiser</p>
                    <p>✅ Rester focus</p>
                    <p>✅ Savoir se vendre</p>
                    <p>✅ Préparer son enregistrement</p>
                    <p>✅ Préparer son live</p>
                    <p>✅ Le leadership de groupe</p>
                    <p>✅ Les aspects juridiques</p>
        
                    <a href="#contact" role="button">Réservez une séance</a>
        
                </div>

                <div class="cartes-tarifs ml-md-5">
                    <h4>Vivre de l’évènementiel musical</h4>
                    <span><small>à partir de</small> 129€ <small class="h2">/séance</small> </span>
                    <p class="text-center durée">Durée : 1h15 à 1h30</p>
                    <p>✅ Le Projet</p>
                    <p>✅ Style et identité</p>
                    <p>✅ La structure</p>
                    <p>✅ Les tarifs pratiqués</p>
                    <p>✅ L’approche client particulier</p>
                    <p>✅ L’approche client entreprise</p>
                    <p>✅ Les preuves</p>
                    <p>✅ La prise de notes en amont de l’évènement</p>
                    <p>✅ Le jour J</p>
                    <p>✅ Les aspects juridiques</p>
        
                    <a href="#contact" role="button">Réservez une séance</a>
        
                </div>

                <div class="cartes-tarifs ml-md-5">
                    <h4>Accompagnement personnel <br> du porteur de projet</h4>
                    <span><small>à partir de</small> 49€ <small class="h2">/séance</small> </span>
                    <p class="text-center durée">Durée : 1h15 à 1h30</p>
                    <p>✅ Responsabilisation</p>
                    <p>✅ Stimulation positive</p>
                    <p>✅ Objectif(s)</p>
                    <p>✅ Exigence</p>
                    <p>✅ Challenges</p>
                    <p>✅ Assistance technique et affective</p>
                    <p>✅ Apprentissage constant</p>
                    <p>✅ Environnement positif</p>
                    <p>✅ Les aspects juridiques</p>
        
                    <a href="#contact" role="button">Réservez une séance</a>
        
                </div>

                <div class="cartes-tarifs ml-md-5">
                    <h4>La réalisation musicale « MAO »</h4>
                    <span><small>à partir de</small> 49€ <small class="h2">/séance</small> </span>
                    <p class="text-center durée">Durée : 1h15 à 1h30</p>
                    <p>✅ Création d’une chanson à la guitare, au piano, à la voix</p>
                    <p>✅ Création d’une maquette ou d'un album</p>
                    <p>✅ Faire de la musique sur-mesure</p>
                    <p>✅ Faire du « Sounds like »</p>
                    <p>✅ Jeux et défis à relever</p>
                    <p>✅ Préparer son enregistrement</p>
                    <p>✅ Les aspects juridiques</p>
        
                    <a href="#contact" role="button">Réservez une séance</a>
        
                </div>


                

            </div>




        </div>

</div>
</section>

<!-- Section parallax -->

<section >

        <div class="parallax">
            <div class="temoin-overlay"></div>
            <h3>Des temoignages</h3>
            <div class="temoignage-cont">
                <div class="temoignages-container ">
                    <p class="temoignage ">« Parfaite pédagogie adaptée à qui je suis, grande patience et à l’écoute. Je vois les progrès accomplis au chant et à la guitare à l’issue de chaque séance. Je ne suis pas prêt d’arrêter. »</p>
                    <span class="temoin-name mb-4 ">Dark Angel Knight,</span> <br>
                    <span class="temoin-sub text-center"> Chanteur, guitariste et leader de groupe de rock basé à Paris</span> <br>
                    
                

                </div>
                <div class="temoignages-container p-md-4 p-1 my-md-4 my-2 d-flex flex-column align-items-center">
                    <p class="temoignage ">« Un très bon coach, qui a une approche pédagogique psychologique et ludique.
                        Sans compter que l’ambiance de travail est tout à la fois studieuse et décontractée. Je recommande vivement MyMusicalTrainer. »</p>
                    <span class="temoin-name mb-4 ">Ismail C.</span> <br>
                    <span class="temoin-sub text-center"> Chanteur et MC basé à Auxerre</span> <br>
                    
                

                </div>
                <div class="temoignages-container p-md-4 p-1 my-md-4 my-2 d-flex flex-column align-items-center">
                    <p class="temoignage ">« Très grande écoute de l’autre, rassurant sur toutes les étapes du projet et du tact pour sensibiliser sur les points sensibles à travailler, bref un professionnel. »</p>
                    <span class="temoin-name mb-4 ">Lynn M. </span> <br>
                    <span class="temoin-sub text-center"> Artiste-chanteuse et entrepreneuse basée à Toulouse</span> <br>
                    
                

                </div>
                <div class="temoignages-container p-md-4 p-1 my-md-4 my-2 d-flex flex-column align-items-center">
                    <p class="temoignage ">« Je viens de loin, et pourtant les progrès que j’ai fait sont au delà de mes espérances. Grâce à MyMusicalTrainer j’ai gagné en confiance et en méthode, bien plus je suis maintenant en mesure de me rémunérer grâce à mon art. Milles fois merci »</p>
                    <span class="temoin-name mb-4 ">DJ N. </span> <br>
                    <span class="temoin-sub text-center"> DJ professionnel basé en ile-de-France</span> <br>
                    
                

                </div>
                <div class="temoignages-container p-md-4 p-1 my-md-4 my-2 d-flex flex-column align-items-center">
                    <p class="temoignage ">« Si vous perdez la motivation dans votre projet musical, il vous faut MyMusicalTrainer et vous verrez que vous la retrouverez la motivation et les résultats. »</p>
                    <span class="temoin-name mb-4 ">Philippe H. </span> <br>
                    <span class="temoin-sub text-center"> Professeur de musique et entrepreneur basé à Pau</span> <br>
                    
                

                </div>
            </div>
        </div>
  
</section>

<section id="contact" >

    <div class="contact justify-content-center py-5">


        <div class="d-flex w-100 flex-column align-items-center mt-5">

            {% include "shared/_messages_flash.html.twig" %}        

            <h2 class="training-title mb-5 mt-4 text-center text-white ">Nous contacter</h2>
        
            <div class="contact-explaination d-flex justify-content-center mb-5">
                <div class="text-white w-100 d-flex justify-content-center flex-wrap justify-content-md-between">
                    
                        <div class="etape-contact-content text-center mb-3">
                            <h5>1. La préparation</h5>
                            <p class="text-justify">Le « Questionnaire de prise de contact » est à remplir et à nous renvoyer par e-mail.</p>
                            
                        </div>
                
                    
                        <div class="etape-contact-content text-center mb-3 ml-3 ml-md-0">
                            <h5>2. L'Écoute & Échange <br> par visio</h5>
                            <p class="text-justify">Pour discuter de ta demande, nous convenons avec toi d’un rendez-vous par visio.</p>
                            <p class="text-justify">La séance Écoute & Échange permet de cadrer le contexte de ta demande, de formuler une proposition adaptée à tes besoins et de bâtir un programme de travail sur-mesure.</p>
                            
                        </div>
                
                        <div class="etape-contact-content text-center mb-3 ml-3 ml-md-0">
                            <h5>3. L’Action</h5>
                            <p class="text-justify">Mise en place et validation du planning.</p>
                            <p class="text-justify">La première séance commence à réception du règlement.</p>
                        </div>
                
                
                </div>
            </div>

        
        </div>
        
        <div class="row  zone-contact justify-content-center">

            <div class="col-md-6 offset-md-0 col-9 offset-2 p-md-4 p-0 d-flex justify-content-center">
                <!-- Coordonnés de l'entreprise -->
                <div class="contact-content text-white mb-5 mb-md-0">

                    <h3 class="text-uppercase ">Dimitry Therese</h3>
                    <h5 class="text-uppercase ">Responsable du développement</h5><br>
                    <p>92 route de Grasse <br> 06220, Vallauris</p>
                    <p>Tél: +33 (0) 6 59 33 10 76</p>
                    <p>Email : contact@mymusicaltrainer.com</p>
                    <div class="rs-contact">
                        <ul class="rs-list d-flex">
                            <li>
                                <a href="">
                                    
                                    <i class="fab fa-facebook-f text-white"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fab fa-instagram text-white"></i>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-6 p-md-4 p-0 ">
                <!-- Formulaire de contact -->
                <div class="contact-form mx-auto ">
                    {{form_start(form)}}
                        <h3 class="form-title text-white text-uppercase">Contact</h3>
                        <div class="form-group mt-3">
                            
                            {{form_widget(form.nom, {'attr': {'class': 'form-control'}})}}
                            {{form_widget(form.email, {'attr': {'class': 'form-control'}})}}
                            {{form_widget(form.message, {'attr': {'class': 'form-control'}})}}
                            
                        
                            
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-danger button-sub-contact-form px-5" >Envoyer</button>
                        </div>
                    {{form_end(form)}}
                </div>
            </div>

        </div>
        
        <div class="bandeau-footer-container d-flex justify-content-center mt-5 mb-3">
            <div class="d-flex flex-column justify-content-center align-items-center annonce-footer">
                <p class="pt-3"><span class="span-MY">MY </span>MUSICAL <span class="span-TRAINER">TRAINER</span> est présent au salon Musicora  " Le grand rendez-vous de la musique et des musiciens "</p>
                <img src="{{asset('assets/ressources/photo/Banniere_600x148.png')}}" class="pb-3 " alt="baniere brand salon">
            </div>
        </div>
     

    </div>

</section>


{% endblock %}
